.brand-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .brand-table thead th {
    background-color: #ddd;
    border: 1px solid #999;
    padding: 8px;
  }
  
  .brand-table tbody td {
    border: 1px solid #999;
    padding: 8px;
  }
  