.edit-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
    max-width: 500px;
    width: 100%;
}

.edit-user-input {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.edit-user-form-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.edit-user-form-button {
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightgray;
    max-width: 200px;
    flex-basis: 50%;
}